<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAfveF8ATueHy8u1XnV5nAJnKNlQtBDvA</string>
	<key>GCM_SENDER_ID</key>
	<string>296607228397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerLoginRegister</string>
	<key>PROJECT_ID</key>
	<string>ischool-web-a2d36</string>
	<key>STORAGE_BUCKET</key>
	<string>ischool-web-a2d36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296607228397:ios:59f622dc7f7b71407d87e4</string>
	<key>DATABASE_URL</key>
	<string>https://ischool-web-a2d36-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>